<div data-options="dxView : { name: 'about', title: 'Quienes somos' } " >
    <div  data-options="dxContent : { targetPlaceholder: 'content' } " style="background-color: #6d5c7e;">
        <div data-bind="dxScrollView: {}">
            <div class="form-img-cnt">
                <img src="images/icon.png" style="width:45%;" class="img-form" />
            </div>
            <div class="quienes-somos-cnt font-th">
                <hr />
                <div>
                    <p>
                        Somos una empresa dedicada a ofrecer el servicio de reservaciones en l&iacute;nea para los clientes que buscan citas en cuesti&oacute;n de belleza y bienestar. 
                    </p>
                    <p>
                        Tambi&eacute;n permitimos a los profesionales de belleza y bienestar conectarse con clientes y hacer crecer su negocio.
                    </p>
                </div>
                <hr />
            </div>
        </div>
    </div>
</div>